[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "delta.sharing"]
	path = delta.sharing
	url = https://github.com/zacdav-db/delta-sharing-r
